body {
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 5;
  padding: 0;
  background-color: purple;
  position: fixed;
  top: 0;
  width: 99%;
  border: 1px solid black;
  box-shadow: 0px 0px 10px darkblue;
  animation: mynavbarbackground 1s infinite;
}
a {
  animation: mytitlelink 1s infinite;
}

@keyframes mytitlelink {
  25% {
    color: white;
  }
  50% {
    color: cyan;
  }
  75% {
    color: hotpink;
  }
  100% {
    color: blueviolet;
  }
}
@keyframes mynavbarbackground {
  25% {
    background-color: purple;
    color: white;
  }
  50% {
    background-color: darkpink;
    color: cyan;
  }
  75% {
    background-color: blue;
    color: hotpink;
  }
  100% {
    background-color: darkblue;
    color: blueviolet;
  }
}

li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  animation: mynavbarbackground 1s infinite;
}

li a:hover {
  background-color: darkblue;
  color: white;
  opacity: 0.8;
  transition: 0.5s;
}

table {
  border: 3px solid black;
  text-align: center;
}

tr,
td {
  border: 1px solid black;
}

textarea {
  resize: none;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: black;
  position: relative;
  animation-name: title;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  text-shadow: 0px 0px 10px darkblue;
}

@keyframes title {
  0% {
    color: darkblue;
    text-shadow: 0px 0px 10px darkblue;
  }
  25% {
    color: cadetblue;
    text-shadow: 0px 0px 10px cadetblue;
  }
  50% {
    color: rgb(0, 174, 255);
    text-shadow: 0px 0px 10px rgb(0, 174, 255);
  }
  75% {
    color: cadetblue;
    text-shadow: 0px 0px 10px cadetblue;
  }
  100% {
    color: darkblue;
    text-shadow: 0px 0px 10px darkblue;
  }
}

img.picpage {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  opacity: 0.5;
  border: 1px solid black;
  margin: 80px;
}
img.musicpic {
  width: 350px;
  height: 350px;
  margin: 10px;
}

img.picpage:hover {
  opacity: 1;
  transition: 0.5s;
  transform: scale(1.5);
}

pre {
  border: 1px solid black;
  width: 20%;
  box-shadow: 0px 2px 1px darkblue;
  padding: 10px;
  animation: mynavbarbackground 1s infinite;
}

ol.secondnav {
  list-style-type: none;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 10px darkblue;
  animation: mynavbarbackground 1s infinite;
}

li.tndlist {
  float: none;
  padding: 0%;
  margin: 0%;
}

li.tndlist a:hover {
  background-color: rgb(0, 174, 255);
  color: darkblue;
  opacity: 0.8;
  transition: 0.5s;
}
#playme {
  color: white;
  animation-name: mytitlelink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
